.has--ul-fancy{
   /* background: asset-url("content/bg-ul-fancy.gif") no-repeat center bottom; */
    padding-bottom: 5px;
    margin-bottom: 1.8em;
    }
.has--ul-fancy .is--promo{
	padding-bottom: 2em;
	}

/* Fancy shaded dividers */
.has--fancy-top, .has--fancy-bot{
	/*background-image: asset-url("content/bg-ul-fancy.gif");
	background-repeat: no-repeat;*/
	}
.has--fancy-top{
	background-position: center top;
	padding-top: 3em;
	margin-top: 3em;
	}

.has--fancy-bot{
	background-position: center bottom;
	padding-bottom: 2em;
	margin-bottom: 1.5em;
	}

	

br, .clear      { clear: both; }                /*clears floats*/
.float-l, .float-left { float: left; }                /*floats left*/
.float-r        { float: right !important; }     /*floats right*/
.float-right    { float: right; }
.visible, .show { display: block !important; }           /*displays as block, turns ON*/
.block          { display: block !important; }           /*displays as block, turns ON*/
.inline         { display: inline; }           /*displays as block, turns ON*/
.hidden         { display: none !important; }      /*displays as hidden, turns OFF*/
.no-bg          { background: 0 none !important; }           /*Removes Background*/
.no-border      { border: 0 none !important; }               /*Removes Border*/
hr              { clear: both; overflow: hidden; }
.no-b-margin { margin-bottom: 0; }

/*fonts*/
.text-left  { text-align: left; }
.text-right { text-align: right; }
.text-center{ text-align: center; }
.bold       { font-weight: bold; }
.italic     { font-style: italic; }
.underline  { border-bottom: 1px solid; }
.caption    { list-style: none; font-style: normal; @include rem(font-size, 11px); line-height: normal; }
.uppercase  { text-transform: uppercase; }
.lowercase  { text-transform: lowercase; }
.no-m{ margin: 0; }
.no-margin{ margin: 0 !important; }
.tiny-b-p { padding-bottom: 2px; }
.sm-b-mg { margin-bottom: 10px; }
.sm-t-mg { margin-top: 10px; }
.sm-r-mg { margin-right: 15px; }
.no-r-p { padding-right: 0px; }
.no-l-p { padding-left: 0px; }
.profiler-result, .profiler-results.profiler-left, .profiler-results.profiler-right { overflow: visible !important; }

[data-mercury]{ outline: none !important; border: 1px solid #09F !important; }

.bottom-hr {
  border-bottom: 1px solid #bfd8dc;
}
.top-bottom-spacing-extra-bottom { margin: 15px 0 30px 0; padding-bottom: 5px; }
.top-bottom-spacing { margin: 15px 0 15px 0; padding-bottom: 5px; }
  