/* List - No Bullets
---------------------------------------------- */

/* gets rid of bullets */
.no-bullet{
    list-style: none; 
    list-style-image: none; 
    margin-left: 0;
    padding-left: 0; 
    }
/* gets rid of bullets on child ul */
.no-bullet .no-bullet{
    margin-left: 15px !important; 
    padding-left: 10px; 
    }                   


/* List - Inline display, set margin, fix boxmodel
---------------------------------------------- */
.inline-list{
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    }                                           
.inline-list li{
    float: left;
    margin: 0 1em 0 0;
    list-style: none outside none;
    }   
.inline-list a{
    display: block;
    float: left;
    margin: 0;
    }


/* List - Q&A = <dl class="content-listing">
---------------------------------------------- */
//.content-listing{}
.content-listing dt{ @include rem(font-size, 18px); margin-bottom: .8em; letter-spacing: -1px; line-height: 1.2; }
.content-listing dd{ @include rem(font-size, 14px); margin-bottom: 1.8em; }


/* List - plain content list pattern with '//' as separator
---------------------------------------------- */
.content-list{
    margin: 0;
    padding: 0 0 1em;
    }
.content-list li    { float: left; margin: 0 1em 0 0; list-style: none outside none; }
.content-list a     { display: block; float: left; margin: 0; }

.content-list li:before             { content: '|'; float: left; padding-right: 1em; }
.content-list li:first-child:before { content: ''; padding-right: 0; }


.help-list{ @include rem(font-size, 14px); }
.help-list li{ padding-right: 90px; padding-bottom: 10px;  }