<%= render 'buy' %>

<aside id="footnote" class="footnote" role="complementary">
  <h3 class="hide-text"><%= t('menu.terms').html_safe %></h3>
  <p><%= t("legal.terms1").html_safe %></p>
  <p><%= t("legal.terms2").html_safe %></p>
</aside>