<div class="box-right">
    <h2 class="h-l size-XL rogers-red"><%= t("text.contact_us").html_safe %></h2>
    <ul class="inline-list help-list">
      <li><a href="<%= live_chat_url %>" target="_blank" rel="external"><span class="i-inline i-pl i--livechat"><%= t("text.live_chat") %></span></a></li>
    </ul>
</div><%# end box-right %>


<%#  %>
