<section class="hero-LG-centered hero-watch">
	<h2 class="cc h-med sizes-M xlg-m anchored" id="get-started"><%= t('profiles.main.hero_get_started.oodles_of_entertainment') %></h2>
	<article class="info info-lg info--primary silly-width-lg">
		<h3 class="h-reg sizes-M2 lg-m"><%= t('profiles.main.hero_get_started.check_if_shomi_in_bundle').html_safe %></h3>
		<p class="xlg-m"><%= link_to t("profiles.main.get_started"), new_session_path, class: "btn btn-default" %></p>
		<p class="sizes-XSM"><%= t('profiles.main.hero_get_started.after_free_trial').html_safe %></p>
	</article>
</section>