<div class="region hero-welcome-inner">
	<main class="fluid" role="main">
		<h2 class="h-med sizes-XLG anchored silly-width2" id="welcome"><%= t('profiles.main.hero.provide_best_entertainment').html_safe %></h2>
		<ul class="copy--L2">
      <%= t('profiles.main.hero.provide_best_entertainment_list').html_safe %>
		</ul>
	</main>
</div>