<section class="hero-M">
	<h2 class="anchored hide-text" id="options"><%= t('profiles.main.hero_get_started.more_options') %></h2>
	<div class="simple-grid span-of-2">
		<p class="box padding-bump"><%= t('profiles.main.hero_get_started.options_description').html_safe %></p>

		<p class="box padding-bump"><%= t('profiles.main.hero_get_started.options_not_with_rogers').html_safe %></p>
	</div>
</section>