<section class="fluid hero-M-centered">
  <h2 class="h-med sizes-M med-m anchored" id="devices"><%= t('profiles.main.hero.watch_on_whatever') %></h2>

  <h3 class="sizes-M2 wfr silly-width"><%= t('profiles.main.hero.available_on_devices').html_safe %></h3>

  <div class="bg-devices"></div>

  <p class="wfm copy--L2 no-m"><%= t('profiles.main.hero.watch_on_computer').html_safe %></p>
  <p class="wfm copy--L2"><%= t('profiles.main.hero.watch_on_computer2').html_safe %></p>
</section>