<div class="info info-lg info--primary has-i-laptop">
	<article class="info-pullright--S">
		<h4 class="wfm med-m"><%= t('profiles.ineligible.upgrade_ignite_bundle').html_safe %></h4>
    	<p><%= link_to t('promo_buy.view_packages'), t('promo_buy.view_packages_link'), target: '_blank', class:'btn btn-tertiary' %></p>
	</article>
</div>