<div class="info info-lg info--primary has-i-wireless">
	<article class="info-pullright--sm">
		<h4 class="hide-text">Wireless Options</h4>
		<p class="wfm">Select shomi as 1 of 3 options to bundle with your Rogers Wireless Package</p>
		<p><a href="" class="btn btn-tertiary">View Wireless Options</a></p>
	</article>
</div>