<section class="useless-layout-wrapper">
    <h2 class="h-lgt sizes-L"><%= t("pages.index.hero_devices_heading").html_safe %></h2>
    <p class="copy-LG"><%= t("pages.index.hero_devices_copy").html_safe %></p>
    <p><a class="btn btn-default" href="/available-devices" rel="external"><%= t("pages.index.hero_devices_btn").html_safe %></a></p>
</section>