<% content_for :title, t('titles.welcome_business').html_safe %>

<h2 class="h-lgt sizes-M w-ul"><%= t('titles.welcome_business').html_safe %>,</h2>
<h3 class="h-lgt sizes-S xlg-m text-center"><%= t('promo_code.business.subheading_html') %></h3>

<section class="fancy-promos-2 span-of-2 text-center">
	<%= render 'promo_business_box',
		text: t('promo_code.business.ineligible'),
		button: link_to( t('btn.create_profile').html_safe, new_profile_path, class: 'btn btn-default btn-block')
	%>
	<%= render 'promo_business_box',
		text: t('promo_code.business.eligible'),
		button: link_to( t('btn.my_rogers').html_safe, '#', class: 'btn btn-default btn--myrogers btn-block', data: { toggle: 'modal', target: '#new_session_modal' }, role: 'button')
	%>
</section>