<article class="hero-contact">
    <h4 class="h-lgt sizes-LG sm-m"><%= t("text.contact_us").html_safe %></h4>
    <ul class="bullet-list help-list">
        <li><a href="<%= live_chat_url %>" target="_blank" rel="external"><%= t("text.live_chat") %></a></li>
    </ul>
</article>