<section class="fluid text-center">
    <h2 class="h-lgt sizes-L"><%= t("pages.index.hero_blackouts_heading").html_safe %></h2>
    <p class="copy-LG"><%= t("pages.index.hero_blackouts_copy").html_safe %></p>
    <p><a class="btn btn-default" href="/blackouts" rel="external"><%= t("pages.index.hero_blackouts_btn").html_safe %></a></p>
</section>