<h2 class="h-b size-L4 i-inline i-pl i--logo-nhl-dark"><span><%= t("apps_promo.heading").html_safe %></span></h2>
<p class="app-buttons">
    <a href="https://play.google.com/store/apps/details?id=com.nhl.gc1112.free&hl=en" class="ico i-apps i--google" rel="external" target="blank"><%= t("apps_promo.google") %></a> <a href="https://itunes.apple.com/ca/app/nhl-gamecenter/id465092669?mt=8" class="ico i-apps i--apple" rel="external" target="itunes_store"><%= t("apps_promo.apple") %></a>
</p>