<h2 class="h-lgt sizes-L useless-layout1"><%= t("promos.app_downloads.heading").html_safe %></h2>

<ul class="app-button-list">
	<li><a href="https://itunes.apple.com/ca/app/nhl-gamecenter/id465092669?mt=8" class="ico i-apps i--apple" rel="external follow" target="itunes_store"><%= t("promos.app_downloads.apple").html_safe %></a></li>
	<li><a href="https://play.google.com/store/apps/details?id=com.nhl.gc1112.free&hl=en" class="ico i-apps i--google" rel="external follow" target="blank"><%= t("promos.app_downloads.google").html_safe %></a></li>
	<li class="badge-bg"><a class="nhl-badge" href="http://gamecenterlive.nhl.com" rel="external follow" target="blank"><span class="i-inline i-pl i--logo-nhl-rev"><%= t("promos.app_downloads.nhl_btn").html_safe %></span></a></li>
</ul>