// GENERAL COLOURS
$black: #000;
$white: #fff;

// FONT FAMILIES
$font-light: 'light', 'Helvetica', Arial, sans-serif;
$font-reg: 'regular', 'Helvetica', Arial, sans-serif;
$font-semibold: 'semibold', 'Helvetica', Arial, sans-serif;
$font-bold: 'bold', 'Helvetica', Arial, sans-serif;
$font-extrabold: 'extrabold', 'Helvetica', Arial, sans-serif;


// FONT COLOURS
$body-color: #434a4f; 	// dark grey
// $link-color: #1c85c2; 	// medium blue
$link-color: #00AEC7; 	// new teal blue
$callout: #DA291C; 		// callout red - rogers brand colour
$callout-alt: #00AEC7; 		// callout teal - rogers brand colour


// MORE GREY


// BUTTON COLOURS
$color-primary: #DA291C;	// RED 
$color-secondary: #445057;	// DARK GREY
$color-tertiary: #adb0af;	// MEDIUM GREY



// BACKGROUND COLOURS
//$bg-primary: #aaa;
//$bg-secondary: #445057;
//$bg-tertiary: #adb0af;


// BORDER COLOURS
$border-primary: #ccc;

$border-color-ul: #adb0af;




// Base font size in pixels, if not already defined.
// Should be the same as the font-size of the html element.
$base-font-size: 16px !default;

// Whether to output fallback values in px when outputting rems.
$rem-with-px-fallback: true !default;

// For the given property, use rem units with px as a fallback value for older
// browsers.
//
// $property - The css property name.
// $values - The value (or space-separated list of values) for the property.
// $use-px-fallback - Boolean, default: true; whether to use pixel fallback values
//
// USAGE === @include rem(font-size, 14px); == substitute font-size for other css properties if needed

@mixin rem($property, $values) {
  // Create a couple of empty lists as output buffers.
  $font-size: $base-font-size;
  $px-values: ();
  $rem-values: ();

  // Loop through the $values list
  @each $value in $values {
    // For each property value, if it's in rem or px, derive both rem and
    // px values for it and add those to the end of the appropriate buffer.
    // Ensure all pixel values are rounded to the nearest pixel.
    @if $value == 0 or $value == 0px {
      // 0 -- use it without a unit
      $px-values: join($px-values, 0);
      $rem-values: join($rem-values, 0);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
      // px value given - calculate rem value from font-size
      $new-rem-value: $value / $font-size;
      $px-values: join($px-values, round($value));
      $rem-values: join($rem-values, #{$new-rem-value}rem);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == "%") {
      // % value given - don't add px or rem
      $px-values: join($px-values, #{$value});
      $rem-values: join($rem-values, #{$value});
    } @else if $value == auto {
      // auto - don't add px or rem
      $px-values: join($px-values, auto);
      $rem-values: join($rem-values, auto);
    } @else {
      // unitless value - use those directly as rem and calculate the px-fallback
      $px-values: join($px-values, round($value * $font-size));
      $rem-values: join($rem-values, #{$value}rem);
    }
  }

  // output the converted rules
  #{$property}: $px-values;
  #{$property}: $rem-values;
}

