/* Effect 1: Fade in and scale up */
.js .modal{
    display: none;
    }

.js .modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;

        .session_username input, .session_password input {
            padding: 1.1em .8em;
            
            width: 99%;
        }

        .session_username input {
            margin-left: 1px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border-bottom: none;
        }

        .session_password input {
            margin-left: 1px;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }

        .btn-cancel {
            vertical-align: bottom;
            padding: 0 0.2em;
        }

    }

.js .modal .form-row { 
    margin: 0 0 0; 
    padding-top: 0;
}

.js .modal .form-help {

    a {
        font-weight: 600;
    }
    margin: 0 0 0; 
    padding: 1.5em 0.2em;
}

.js .modal .btn-signin {
    float: right;
    background-color: #455057;
    border-radius: 5px;
    padding: 0.5em 3em;
    margin-bottom: 1.5em;
    font-size: 0.9em;
    margin-top: -5px;
    @include box-shadow(0px, 1px, 7px, rgba(0, 0, 0, 0.75));
}

.js .modal .btn-signin:hover {
    opacity: 0.8;
}

.modal-dialog {
    margin: 30px auto;
    background-color: #fff;
    border: 5px solid #999;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    outline: 0;
    padding: 30px 35px 15px;
    width: 460px;
    border-radius: 12px;
    }
.js .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    }
.js .modal-backdrop.fade {
    opacity: 0;
    }
.js .modal-backdrop.in {
    opacity: 0.75;
    }

.js .modal-dialog .icon-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 5px;
    z-index: 1051;
    color: #000;
    }
.no-js .modal-dialog .i--close, .no-js .modal-dialog .btn-cancel{ display: none; }
.modal-dialog .i--close:focus {
    border: 2px dotted red;
    }
.modal-dialog .i--close:active {
    border: 1px dotted #000;
    }

.modal-header .modal-title { border-bottom: 1px solid #adb0af; @include rem(font-size, 27px); line-height: 1.25; margin-bottom: 0em; padding-bottom: .4em; }

[lang="en-ca"] .modal-header .i--logo-myrogers { height: 1.65em; margin-bottom: 0; width: 4.6em; }
[lang="fr-ca"] .modal-header .i--logo-myrogers { height: 1.25em; margin-bottom: 0; width: 5.5em; }

.modal-footer {
    border-top: 2px dotted #ccc;
    padding: 1.5em 0 0;
    font-size: 0.8em;

        a {
            font-weight: 600;
        }

    }



/* TOS conversion to inline in page - turned off modal */
.tos-wrapper{ 
    margin-top: 0.5em;
    -webkit-overflow-scrolling: touch;
    overflow-y: visible;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border: 1px solid #ccc;
    //height: 250px;
    margin-bottom: 1em;
 }
.tos-frame{
    border: none;
    height: 240px;
    margin: 0.5em auto;
    padding: 1em;
    width: 90%;
    }
@media (max-height: 600px) and (max-width: 600px) {
    .tos-wrapper {
        height: 180px;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;   
    }
    .tos-frame{
        height: 120px;
        
        }
}


// #tos_modal{}
// #tos_modal .modal-body{ 
//     -webkit-overflow-scrolling: touch; 
//     //overflow-y: scroll; 
//     height: 230px; 
//     }

// /* Terms of Service Iframe within modal */
// #tos_modal .tos-frame{
//     border: 0 none;
//     height: 230px;
//     overflow-x: hidden;
//     overflow-y: scroll;
//     -webkit-overflow-scrolling: touch;
//     width: 100%;
//     }

// @media (min-height: 1024px) {
//     #tos_modal .modal-body, #tos_modal .tos-frame{
//         height: 380px;
//         }

// }

// @media (max-height: 360px) and (max-width: 600px) {
//     #tos_modal .modal-body, #tos_modal .tos-frame{
//         height: 130px;
//         }

// }
// @media (max-height: 320px) and (max-width: 600px) {
//     #tos_modal .modal-body, #tos_modal .tos-frame{
//         height: 100px;
//         }

// }


